body {
    background-color:#f1f1f1;
    
}


.tvSearch {
    position: absolute;
    left: 17%; 
    top: 2600px;
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 700px;
    border: 15px;
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto; 
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    
    
    
 

}

.poster {
    position: relative;
    width:auto;
    max-height:500px;
    top: 30px;
    
    
}

.info {
    position: absolute;
    width: 450px;
    left: 400px;
    top: 135px;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.0;
    
}

.movieIcon {
    display: block;
    position: absolute;
    top: 20px;
    left: 700px;
    width:auto;
    max-height:150px;
}


.cinema {
    position: absolute;
    top: 50px;
    left: 5vw;
    border: 15px;
    border-radius: 10px;
    padding: 50px;
    margin: 20px; 
    font-size: 1.0em;
    font-weight: normal;
    line-height: 1.
    
}

.card {
    position: relative;
    top: 20px;
    border-color: rgb(187, 187, 187);
    background-color: rgb(255, 255, 255);
    border-radius: 10px; 
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    margin: 50px 0px 50px 0px;
   
}

#theatersNow {
    position: absolute;
    top: 5px;
    left:110px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    background-color: rgb(71, 148, 236);
    width: 330px;
    height: 100px;
    border-radius: 10px;
    margin: 20px; 
    padding: 30px 60px 60px 25px;
}

.theatersI {
    display: block;
    position: relative;
    top: -10px;
    left: 325px;
    width:auto;
    max-height:70px;
}


.booksBS {
    position: absolute;
    top: 50px;
    left: 10vw;
    border: 15px;
    border-radius: 10px;
    padding: 50px;
    margin: 20px; 
    font-size: 1.0em;
    font-weight: normal;
    line-height: 1.
    
}

#booksBS-card {
    position: relative;
    top: 3500px;
    height: 45rem;
    border-color: rgb(187, 187, 187);
    background-color: rgb(255, 255, 255);
    border-radius: 10px; 
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    margin: 50px 0px 50px 0px;
}

#bestSellers {
    position: absolute;
    top:3500px; 
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 69, 148);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 30px 60px 60px 25px;
    text-align: center;
}

.booksI {
    display: block;
    position: absolute;
    top: 3515px;
    left: 58vw;
    width:auto;
    max-height:70px;
}